@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.navbar {
  display: flex;
  justify-content: center; /* Center the content */
  align-items: center; /* Center vertically */
  padding: 0.5em 1em;
  position: fixed;
  height: 8%;
  width: 100%;
  top: 0%;
  z-index: 1;
}

.navbar .bold {
  font-weight: bold;
  margin-top: 10px;
  width: 40%;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1em;
}

.navbar a {
  text-decoration: none;
}
