@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.navbar {
  display: flex;
  justify-content: center; /* Center the content */
  align-items: center; /* Center vertically */
  padding: 0.5em 1em;
  background-color: #000;
  color: #fff;
  position: fixed;
  width: 30%;
  top: 5%;
  left: 35%;
  border-radius: 30px;
  border-color: #ff0000;
  border-style: solid;
}

.navbar .bold {
  font-weight: bold;
  margin-top: 10px;
  width: 30%;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1em;
}

.navbar a {
  color: #ff0000;
  text-decoration: none;
}
