@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.progress-bar {
  background-color: #1a1a1a; 
  height: 60px; 
  transform-origin: 0 0;
  position: sticky;
  top: 3% ;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #d9b382; 
}
 
::-webkit-scrollbar-thumb {
  background: #1a1a1a; 
}

::-webkit-scrollbar-thumb:hover {
  background: #cc0d0d; 
}

ul.custom-bullet {
  list-style-type: none;
}

ul.custom-bullet li::before {
  content: "₪"; 
  display: inline-block;
  margin-right: 10px;
}


